*{
  font-family:serif;
  margin:0px;
  padding:0px;
}

body{
background-color: #041e47;

}

.container{
  border:5px solid black;
  width:80%;
  min-height:30em;
}

.flex{
  display:flex;
}
.flex-center{
  justify-content: center;
}

nav{
  display:flex;
  justify-content: center;
  background-color: #020e21;
}

.nav-item{
  padding-left: 3rem;
  padding-right: 3rem;
}
 .nav-item>a{
   color:white;
   text-decoration: none;
}

.nav-list{
  display:flex;
  list-style-type: none;
  min-width: 80%;
  text-align: center;
}

.mt-2{
  margin-top: 2rem;
}

.text-white{
  color: white;
}
